@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


:root {
   --black: #000000;
   --white: #FFFFFF;
   --bg-card: #283142;
   --font-roxo: #677fff;
   --cor-second: #384459;
   --cor-third: #1B2531;
   --cor-texto: #9AAABE;
   --body-text: #CFCFCF;
   --tr-odd-color: #242C3B;
}

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    background-color: var(--black);
    color: var(--white);
}

#sales {
    background-color: var(--black);
    padding: 40px 10px;
}

.dsmeta-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}